body {
    line-height: 1.5;
    font-family: sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}


.container {

    max-width: 1170px;
    margin: auto;
    /* background-color: red; */

}

.row {
    display: flex;
    flex-wrap: wrap;
}
.gallery {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 0;

}

.gallery .gallery-filter  {
    /* background-color: blue; */
    padding:0 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;



}
.gallery .gallery-filter .filter-item.active {
color: #ff9800;
border-color: #ff9800;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.gallery .gallery-item{
    width: calc(100%/3);
    padding: 15px;

}

.gallery .gallery-item.hide{
    display: none;
}
.gallery .gallery-item.show{
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0%{
        opacity: 0;  
        transform: scale(0.9);   
    }
    100%{
        opacity: 1;   
        transform: scale(1);   
        
    }
    
}

